<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
			<section name="DefaultFlight" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<DefaultFlight>
		<add key="FlightNumber" value="UL000000"/>
		<add key="NoofSeatofFlight" value="332"/>
		<add key="AircraftType" value="Boeing 777-300ER(77W) Three Class"/>
		<add key="NoOfBusinessClassRows" value="4"/>
		<add key="NoOfPremiumClassRows" value="2"/>
		<add key="NoofPassengers" value="0"/>
		<add key="OriginPort" value="SGP"/>
		<add key="DestinationPort" value="CMB"/>
		<add key="DepartureDate" value="2023-10-12"/>
		<add key="ArrivalDate" value="2023-10-12"/>
	</DefaultFlight>
	
</configuration>